{
  "plugins": ["import"],
  "extends": ["eslint:recommended", "plugin:import/recommended"],
  "env": { "node": true, "es6": true, "jest": true },
  "rules": {
    "require-atomic-updates": 0,
    "no-unused-vars": [2, { "ignoreRestSiblings": true }],
    "import/no-unresolved": [2, { "commonjs": true }]
  }
}
